@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "GRAD" 0;
}

body {
    background: var(--body-bg);
    
}

main {
    height: 100dvh;
    overflow: auto;
    position: fixed;
    left: 15rem;
    right: 0;
    background: var(--main-bg);
}

#sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 13rem;
    height: 100dvh;
    background: var(--body-bg);
    color: var(--txt-color);
    z-index: 1;
    margin: auto;
    padding: 1rem;
}

#sidebar #home-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    color: var(--txt-color);
}

#sidebar #sidebar-btn {
    padding: 0.8rem;
    color: var(--sidebar-txt-color);
    text-decoration: none;
    color: var(--txt-color);
}

#sidebar #home-btn img{
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
    border: white 1.5px solid;
}

#header {
    position: sticky;
    background: var(--main-bg);
    display: flex;
    align-items: center;
    top: 0;
    left: 17rem;
    height: 3.4rem;
    padding: 1rem;
    color: var(--txt-color);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}