@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#loginForm {
    background: rgba(255, 255, 255, 0.5);
    width: 18rem;
    border-radius: 1rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    color: var(--main-color);
}
#loginForm #options {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}
#loginForm section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0 1rem 0;
    border: none;
    border-radius: 0.5rem;
    background: var(--body-bg);
    position: relative;
}
#loginForm section #eyeBtn {
    position: absolute;
    display: flex;
    justify-content: center;
    right: 0.2rem;
    width: 2rem;
    background: none;
    border: none;
    padding: 0 0.5rem;
    cursor: pointer;
    color: gray;
    font-size: 1rem;
}
#loginForm input {
    flex: 1;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
#loginForm input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
#loginForm button {
    width: 100%;
    padding: 0.7rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--main-color);
    color: var(--body-bg);
    font-weight: bold;
    cursor: pointer;
}

#loginForm a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8rem;
}

/* HEADER */
#header {
    background: var(--main-color);
}

